# macOS
.DS_Store
*.swp
*.swo
*~
.#*
#*#

# Macaulay2 cache
CohomologyZeroLociInHomogeneousVarieties/example-output/
CohomologyZeroLociInHomogeneousVarieties/CohomologyZeroLociInHomogeneousVarieties.html
cache/
compiled/

# Python cache
__pycache__/
*.pyc
